html,
body {
  padding: 0;
  margin: 0;
  font-family: Merriweather, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: #ddd;
    background: #082032;
  }
}

@font-face {
  font-family: "Merriweather";
  src: url("fonts/Merriweather-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Merriweather";
  src:
    url("fonts/Merriweather-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Merriweather";
  src:
    url("fonts/Merriweather-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Merriweather";
  src:
    url("fonts/Merriweather-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}